body{
    background-image: url("imagens_projeto_dw/body_inicio.jpg");
    top: 0;
    left: 0;

    background-size: 50%;

    z-index: -1; /* Para colocar o elemento atrás do conteúdo */
}

#div_links_iniciais{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;

}

.links_inical{
    color: black;
    border: 3px solid black;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 1px;
    font-size: 30px;
    font-family: "Cooper Black";
    font-style: italic;
    background-color: white;
}
